*   {
    color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
}

body  {
    background-image: linear-gradient(darkslateblue,black);
    margin: 0px;
    min-height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-bottom: 1px solid;
}

main    {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

footer  {
    width: 100%;
    border-top: 1px solid;
    margin-top: 2em;
    text-align: center;
}

.navlinks  {
    list-style-type: none;
    display: flex;
}

.navlinks li  {
    padding-left: 40px;
}

.heroimg    {
    width: 200px;
    height: 200px;
    display: block;
}

.herotxt    {
    width: 400px;
    text-align: justify;
}

.projectcards   {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.card   {
    text-align: center;
    background-color: steelblue;
    border: 5px ridge steelblue;
    padding: 10px;
}

.thumbnail  {
    width: 250px;
}

dl   {
    width: 400px;
}

dd  {
    padding-bottom: 1em;
}

ul  {
    list-style-type: square;
}